a {
  text-decoration: none;
}

.banner {
  background-color: lightblue;
  color: white;
  padding: 8px 5px 0px 5px;
}

.body-content {
  padding: 5px;
}

td.details-control {
  background: url("./img/details_open.png") no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url("./img/details_close.png") no-repeat center center;
}

.active {
  background-color: white;
  color: black;
  font-weight: bold;
}
